body
{
    background-image: url(../Images/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.container
{
    width:1030px;
    height:734px;
    margin:auto;
    font-family:'Trebuchet MS';
    font-weight: lighter;
}
.top-right-navbar
{
    height:15px;
}
.top-right-navbar ul
{
    background:rgb(0,0,0,0.5);
    list-style-type: none;
    margin: -8px -2px 0px 0px;
    padding: 0px 3px 4px 8px;
    float:right;
}
.top-right-navbar li
{
    display:inline-block;
    color:white;
    text-decoration: none;
    font-size:10px;
    margin-bottom:2px;
}
.header-container
{
    width:inherit;
    padding:3px;

}
.navbar {
    height:50px;
    background:rgb(0,0,0,0.65);
    outline: 0.1px solid rgb(255,255,255,0.2);
    outline-offset: -4px;
    margin-top:35px;
}
.navbar #activeItem {
    background: rgba(128, 207, 253, 0.3);
    padding: 3px 8px 3px 8px;
    border-radius: 2px;
    margin : 0px -4px 0px -8px;
    color: white;
}
.navbar ul
{
    list-style-type:none;
    padding-top: 15px;
    height:30px;
    margin-left: 26%;
}
.navbar li
{
    display:inline-block;
}
.navbar a
{
    text-decoration:none;
    color:skyblue;
    letter-spacing: 1.5px;
    margin:0px 4px 0px 4px;

}
.home-navbar-delimiter
{
    color:white;
}
.services-navbar-delimiter
{
    color:white;
    margin-left:-4px;
    padding:0;
}

#logo
{
    width:160px;
    float:left;
    padding:0;
    margin: 6px 0px 0px 15px;
    position:relative;
    z-index:1;
}
.banner
{
    color:white;
    background: rgb(0, 0, 0, 0.2);
    height:160px;
}
.banner h2
{
    font-weight: lighter;
    font-size: 35px;
    margin: 15.5px 0px 0px 25px;
}
.banner-content-line1
{
    margin-bottom:-6px;
}
.banner-content-line2
{
    margin-top:6px;
}
.home-body-container
{
    background:rgb(0,0,0,0.75);
    width:inherit;
    padding-top:15px;
    height:460px;
    font-size:13.5px;
    font-weight:lighter;
    letter-spacing: 0.5px;

}
.home-body-container a
{
    color:paleturquoise;
}
.home-left-container
{
    width:300px;
    display: inline-block;
    color:white;
    padding: 20px 0px 0px 25px;
}
.home-middle-container
{
    width: 300px;
    display: inline-block;
    color:white;
    padding-left: 30px;
    margin-top:10px;
}
.home-right-container
{
    width:270px;
    display: inline-block;
    color:white;
    vertical-align: top;
    padding: 20px 0px 0px 30px;
}
.services-body-container
{
    margin-top:40px;
    background:rgb(0,0,0,0.8);
    width:inherit;
    font-size:13.5px;
    padding-top:15px;
    height:532px;
    margin-left: 3px;
}

.services-left-container
{
    float:left;
    width:250px;
    margin:5px 0px 0px 25px;
}
.services-left-container a
{
    color:rgba(198, 228, 240);
    display:block;
    margin-bottom:-12px;

}
.services-left-container-bottom
{
    margin-top:15px;
    font-size: 14.5px;
    padding:15px 0px 15px 0px;
    border-width: 0.2px 0px 0.2px 0px;
    border-style :solid ;
    border-color:rgba(255,255,255,0.25);
}

.services-right-container
{
    float:right;
    width: 700px;
    margin-top: -14px;
    font-size: 14.5px;
    color: white;
    padding-right:25px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 135%;
}

.services-right-container-bottom
{
    margin:34px 10px 0px 0px;
	border-width: 0.2px 0px 0.2px 0px ;
    border-style:solid ;
    border-color:rgba(255,255,255,0.3);
	padding:10px 0px 20px 20px;
	background-color:rgba(20,44,68,0.8);
}
.services-right-container-bottom-button 
{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family:'Trebuchet MS';
    margin: 2px;
    padding-bottom:2px;
    border-radius:4px;
    border:0.5px solid rgb(52, 65, 65,0.7);
    background-image: linear-gradient(#137fa3, #0e2941);
    height:25px;
    width:235px;
}
/* check using inside border */
.home-inside-border
{
    margin: 0px 4px -5px 4px;
    height: 454px;
    border-width: 0.2px;
    border-style: solid;
    border-image: linear-gradient(to top, rgb(255,255,255,0.2),rgb(255,255,255,0.01)) 1 10%;
}
.services-inside-border
{    
    margin : 0px 4px -5px 4px;
    height: 525px;
    border-width: 0.2px;
    border-style: solid;
    border-image: linear-gradient(to top, rgb(255,255,255,0.2),rgb(255,255,255,0.01)) 1 10%;
}
.services-right-container-heading
{
    color:rgb(199, 250, 250,0.9);

}
.services-right-container-bullet-points li
{
    margin-bottom:5px;
}
.home-left-container img
{
    filter:brightness(2);
    height: 30%;
    width: 100%;
    margin-top: -10px;
}
.home-right-container img
{
    height: 36%;
    width: 110%;
    margin-top: -10px;
}
.home-middle-container img
{
    width: 100%;
    height: 130px;
}
.services-left-container-image
{
    width:245px;
    height:100px;
}
.services-right-container-link-in-text
{
    color:rgb(199, 250, 250,0.9);
}
.footer a 
{
    color:white;
}
.footer p
{
    padding-top: 5px;
    color:rgb(199, 250, 250,0.9);
}
.footer
{
    background : rgb(0,0,0,0.3);
    text-align:center;
    font-size:12px;
    height:25px;
    margin-top:15px;
    width:inherit;
}
.services-footer
{
    margin-left:3px;
}