body
{
    background-image: url(bg.jpg);
}
.container
{
    width:67.5%;
    margin:auto;
    font-family:'Trebuchet MS';
    font-weight: lighter;
}
.top
{
    height:15px;
    width:100%;
}
.top ul
{
    background:rgb(0,0,0,0.5);
    list-style-type: none;
    margin-top: -7px;
    padding:0;
    float:right;
}
.top li
{
    display:inline-block;
    color:white;
    text-decoration: none;
    font-size:10px;
    margin-bottom:2px;
}
.header
{
    width:100%;
    margin-top:30px;
    padding:3px;
    box-shadow:3px black;

}
.navbar
{
    height:50px;
    background:rgb(0,0,0,0.8);
    outline: 0.2px solid gray;
    outline-offset: -4px;
}
.navbar ul
{
    list-style-type:none;
    margin-left:200px;
    padding-top: 15px;
    height:30px;
}
.navbar li + li:before
{
    content:"| ";
    color:white;
    margin-right:20px;
}
.navbar li
{
    display:inline-block;
    color:skyblue;
    margin-right:15px;
    margin-left:20px;
}
   
#logo
{
    width:160px;
    float:left;
    padding:0;
    height: 100px;
    margin-left: 15px;
    position:relative;
    z-index:1;
}
.banner
{
    color:white;
    background: rgba(0, 0, 0, 0.2);
    height:160px;
    margin:auto;
}
.banner h1
{
    margin:0;
    margin-left: 25px;
}
.frameset
{
    background:rgb(0,0,0,0.6);
    width:999px;
    padding-left:15px;
    padding-top:15px;
    height:420px;
    outline: 0.2px solid gray;
    outline-offset: -4px;
}
.frameset a
{
    color:paleturquoise;
}
.frame
{
    width:25%;
    display: inline-block;
    color:white;
    font-size:12px;
    font-weight:bold; 
    margin-right: 60px;
    margin-left: 15px;
    
}
.image-tile
{
    height: 131px;
    width: 280px;
}
.footer
{
    background : rgb(0,0,0,0.3);
    text-align:center;
    font-size:12px;
    height:25px;
}
.footer p
{
    padding-top: 4px;
    margin-top:6px;
    color:white;
}
.footer a 
{
    color:white;
}